{% extends "films/base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-top">

    <div>
        <h2 class="text-success mb-4">{{ film.name }}</h2>
    
        <p>This film is #{{ film.order }} in {{ film.user.username|title}}'s list</p>
    
        <a href="{% url 'film-list' %}"><button class="btn btn-primary" >Your List</button></a>
    </div>

    <div id="myImg">
        {% include 'films/partials/detail_img.html' %}
    </div>
    
</div>
{% endblock content %}